__pycache__/
data/NOAA_Whales/
data/mel_spectrograms_multiclass/
data/dataset_plots/
checkpoints/
configs/
data/invalid_duration_annotations.csv
data/base_splits/
data/splits_multiclass_corrected/
data/tuxedni_splits/
CLAUDE.md
